/* .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  
  .carousel-caption h3, .carousel-caption p {
    margin: 0;
  }
  /* h1 {
    color: red;
  } */ 

  .rol1{
    min-height: 500px;
  }